<p id="notice"><%= notice %></p>

<h1>Universal Wikis</h1>
<div class="progress progress-success">
  <div class="progress-bar" style="width: 100%"></div>
</div>

<% @wikis.each do |wiki| %>
<table width="600">
  <tr>
    <td>Title: <%= wiki.title %></td>
  </tr>
  <tr>
    <td>Body: <%= wiki.body %></td>
  </tr>
  <tr>
    <td>Private: <%= wiki.private %></td>
  </tr>
  <tr>
    <td>User: <%= wiki.user %></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
        <td><%= link_to 'Show', wiki, class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Edit', edit_wiki_path(wiki), class: "btn btn-default btn-xs"  %></td>
        <td><%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs"  %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table><tr><td height="10"></td></tr></table>
<% end %>
